In [ ]:
# Load dependencies

import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
from config import username, password, port

In [ ]:
# Create engine for my PostgreSQL database

engine = create_engine(f"postgresql://{username}:{password}@localhost:{port}/HW9_WILLIAM_VANN")

In [ ]:
# Create connection

connection = engine.connect()

In [ ]:
# Render dataframe from a SQL query of salaries table

df = pd.read_sql("SELECT * FROM salaries;", connection)

In [ ]:
df

In [ ]:
# Bin salary data

x = df["salary"]

labels=["<=40k", "40-49k", "50-59k", "60-69k", "70-79k", "80-89k", "90-99k", "100-109k", "110-119k", ">=120k"]
bins = [30_000, 40_000, 50_000, 60_000, 70_000, 80_000, 90_000, 100_000, 110_000, 120_000, 130_000]

df["bins"] = pd.cut(x, bins=bins, labels=labels)

# Look at # per bin

print(df["bins"].value_counts())

# Make sure all bins sum to # of rows 

print(f'\n\nTotal of all bins = {df["bins"].value_counts().sum()}')

In [ ]:
# Create a histogram to visualize the most common salary ranges for employees

df.hist(column="salary", bins=bins)

plt.title("Histogram of Salary")

plt.xlabel("Salary ($)")
plt.ylabel("# Employees at Salary Level")
plt.grid(True)
plt.tight_layout()

In [ ]:
# Create a bar chart of average salary by title

df1 = pd.read_sql('''

    SELECT employees.emp_title, titles.title, employees.emp_no, salaries.salary
    FROM employees, titles, salaries
    WHERE employees.emp_title=titles.title_id 
        AND salaries.emp_no=employees.emp_no;    

    '''       
    , connection)

In [ ]:
df1

In [ ]:
# Have a look at the salaries by title

df1.groupby(["title"])["salary"].value_counts()

In [ ]:
# Aggregate by title and average salary for that title

salary_by_title = round(df1.groupby(["title"])["salary"].mean(), 2)
print(salary_by_title)

In [ ]:
# Bar plot of average salary by job title 

salary_by_title.plot.bar()

plt.grid(True)

plt.xlabel("Job Title")
plt.ylabel("Salary ($)")

plt.title("Average Salary by Title")